:root {
    --SidebarBackgroundImage: none;
}

sidebar {
    display: inline-block;
    float: left;
    height: 100vh;
    width: 250px;
    margin: 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--lightgrey);       
}

    sidebar > .sidebar {
        z-index: 1;
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }

        sidebar > .sidebar > .sidebar-header {
            display: flex;
            align-items: center;
            height: 50px;
            margin: 0rem;
            padding: 1rem;
        }

            sidebar > .sidebar > .sidebar-header > .navbar-brand {
                font-size: 1.1rem;
            }

            sidebar > .sidebar > .sidebar-header > .navbar-toggler {
            }

            sidebar > .sidebar > .sidebar-header .user-pic {
                display: inline-block;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-size: cover;
                background-position: 50%;
            }
            sidebar > .sidebar > .sidebar-header .user-name {
                display: inline-block;
                line-height: 40px;
                margin-left: 0.5rem;
            }
        sidebar > .sidebar > .sidebar-body {
            display: block;
            min-height: calc(100vh - 150px - 2rem);
            max-height: calc(100vh - 150px - 2rem);
            margin: 0rem;
            padding: 1rem;
            overflow-y: scroll;
            overflow-x: hidden;
        }

            sidebar > .sidebar > .sidebar-body .nav {
                display: flex;
                flex-direction: column;
            }

                sidebar > .sidebar > .sidebar-body .nav > .nav-item {
                    display: block;
                    font-size: 0.9rem;
                    margin: 0rem;
                    padding: 0rem;
                    width: 100%;
                }

                    sidebar > .sidebar > .sidebar-body .nav > .nav-item:hover {
                    }

                    sidebar > .sidebar > .sidebar-body .nav > .nav-item > a {
                        display: flex;
                        height: 100%;
                        margin: 0;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-left: 0;
                        padding-right: 0;
                        border-radius: 4px;
                        align-items: center;
                        text-decoration: none;
                        color: var(--black);
                    }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a:hover,
                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a.active {
                            background-color: var(--SidebarSelectorColor);
                            color: var(--white);
                            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                            border-radius: 4px;
                        }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-toggle-item {
                            /*не работает transition*/
                            transition: all 5s linear;
                        }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-left {
                            display: block;
                            max-width: 40px;
                            min-width: 40px;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                        }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-text-middle {
                            display: block;
                            margin: 0;
                            padding: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                            sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-text-middle[data-view="mini"] {
                                display: none;
                            }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-right {
                            display: block;
                            max-width: 40px;
                            min-width: 40px;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                            transition: all 0.4s linear;
                        }

                            sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-right.rotate {
                                transform: rotate(90deg);
                            }

                            sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-right[data-view="mini"] {
                                display: none;
                            }

        sidebar > .sidebar > .sidebar-footer {
            display: flex;
            align-items: center;
            margin: 0rem;
            padding: 1rem;
            height: 50px;
        }

            sidebar > .sidebar > .sidebar-footer > a {
                color: var(--black);
            }

                sidebar > .sidebar > .sidebar-footer > a:hover {
                }


        sidebar > .sidebar > .sidebar-background {
            z-index: -1;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: 50%;
            opacity:.2;
        }


[data-image="selected"] {
    background-image: var(--SidebarBackgroundImage);
}

[data-image="sidebar-1"] {
    background-image: url(../../assets/img/sidebar-1.jpg);
}
[data-image="sidebar-2"] {
    background-image: url(../../assets/img/sidebar-2.jpg);
}
[data-image="sidebar-3"] {
    background-image: url(../../assets/img/sidebar-3.jpg);
}
[data-image="sidebar-4"] {
    background-image: url(../../assets/img/sidebar-4.jpg);
}
[data-image="sidebar-5"] {
    background-image: url(../../assets/img/sidebar-5.jpg);
}
[data-image="sidebar-6"] {
    background-image: url(../../assets/img/sidebar-6.jpg);
}
[data-image="sidebar-7"] {
    background-image: url(../../assets/img/sidebar-7.jpg);
}

[data-image="user_pic"] {
    background-image: url(../../assets/img/user_pic.png);
}

        /*@media (min-width: 768px) {
    sidebar {
        display: block;
        float: left;
        top: 0;
        height: 100vh;
        width: 250px;
    }
        sidebar .collapse {
            display: block;
        }

        sidebar navbar-toggler {
            display: none;
        }
    main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}*/
