configurator {
    user-select: none;
}

    configurator > .configurator-button-show {
        position: absolute;
        bottom: 1.1rem;
        right: 3.3rem;
        width: 55px;
        height: 55px;
        background: transparent;
        color: #000;
        border: none;
        border-radius: 50%;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);
        z-index: 900;
        cursor: pointer;
    }

        configurator > .configurator-button-show > .configurator-icon {
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    configurator > .configurator-window {
        position: fixed !important;
        top: 0;
        height: 100%;
        left: auto !important;
        right: -360px;
        width: 360px;
        padding: 20px;
        border-radius: 0;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);
        color: #000;
        background-color: #fff;
        transition: 0.7s ease;
        transform: unset !important;
        z-index: 1000;
    }

        configurator > .configurator-window.show {
            right: 0px;
        }

        configurator > .configurator-window > .configurator-button-close {
            position: absolute;
            right: 20px;
            border: none;
            color: #000;
            cursor: pointer;
        }

            configurator > .configurator-window > .configurator-button-close > .configurator-icon {
                pointer-events: none;
                font-size: 1.3rem;
            }


.configurator-widget-color {
    padding: 5px 0px;
}

    .configurator-widget-color > .configurator-button-color {
        position: relative;
        display: inline-block;
        height: 25px;
        width: 25px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }


.configurator-widget-image {
    padding: 5px 0px;
}

    .configurator-widget-image > .configurator-button-image {
        display: inline-block;
        height: 150px;
        width: 75px;
        border-radius: 10px;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
    }

        .configurator-widget-image > .configurator-button-image:hover {
            border: 3px solid #fff;
        }
