:root {
    --SidebarBackgroundColor: var(--background-primary);
    --SidebarSelectorColor: var(--primary-500);
    --SidebarFontColor: var(--text-primary);
    --SidebarBackgroundImage: none;
    --SidebarWidth: 250px;
}

sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: var(--SidebarWidth);
    margin: 0;
    padding: 0;
    box-shadow: 0 0.5rem 1rem var(--shadow-medium);
    background-color: var(--SidebarBackgroundColor);
    user-select: none;
    z-index: 5;
    overflow: hidden;
}

    sidebar > .sidebar {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        sidebar > .sidebar > .sidebar-background {
            z-index: -1;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: 50%;
            opacity: .2;
        }

        sidebar > .sidebar > .sidebar-body {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0;
            padding: 1rem;
            overflow-y: auto;
            overflow-x: hidden;
            min-height: 0; /* Важно для Flexbox */
        }


            sidebar > .sidebar > .sidebar-body::-webkit-scrollbar {
                width: 8px;
            }

            sidebar > .sidebar > .sidebar-body::-webkit-scrollbar-track {
                background: #fff;
            }

            sidebar > .sidebar > .sidebar-body::-webkit-scrollbar-thumb {
                /*background-color: var(--SidebarBackgroundColor);*/
                /*background: linear-gradient(45deg, #EECFBA, #C5DDE8);*/
                background: linear-gradient(45deg, var(--SidebarBackgroundColor), var(--SidebarSelectorColor));
                border-radius: 20px;
                /*border: 1px solid #050c26*/
            }

            sidebar > .sidebar > .sidebar-body .nav {
                display: flex;
                flex-direction: column;
            }

                sidebar > .sidebar > .sidebar-body .nav > .nav-item {
                    display: block;
                    font-size: 0.9rem;
                    margin: 0rem;
                    padding: 0rem;
                    width: 100%;
                }

                    sidebar > .sidebar > .sidebar-body .nav > .nav-item:hover {
                    }

                    sidebar > .sidebar > .sidebar-body .nav > .nav-item > a {
                        display: flex;
                        height: 100%;
                        margin: 0;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-left: 0;
                        padding-right: 0;
                        border-radius: 4px;
                        align-items: center;
                        text-decoration: none;
                        color: var(--text-primary);
                    }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a:hover,
                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a.active {
                            background-color: var(--SidebarSelectorColor);
                            color: var(--SidebarFontColor);
                            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                            border-radius: 4px;
                        }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-toggle-item {
                            /*�� �������� transition*/
                            transition: all 5s linear;
                        }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-left {
                            display: block;
                            max-width: 40px;
                            min-width: 40px;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                        }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-text-middle {
                            display: block;
                            margin: 0;
                            padding: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                            sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-text-middle[data-view="mini"] {
                                display: none;
                            }

                        sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-right {
                            display: block;
                            max-width: 40px;
                            min-width: 40px;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                            transition: all 0.4s linear;
                        }

                            sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-right.rotate {
                                transform: rotate(90deg);
                            }

                            /*sidebar > .sidebar > .sidebar-body .nav > .nav-item > a > .sidebar-icon-right[data-view="mini"] {
                                display: none;
                            }*/


[data-image="selected"] {
    background-image: var(--SidebarBackgroundImage);
}

[data-image="sidebar-1"] {
    background-image: url(../../img/sidebar-1.jpg);
}
[data-image="sidebar-2"] {
    background-image: url(../../img/sidebar-2.jpg);
}
[data-image="sidebar-3"] {
    background-image: url(../../img/sidebar-3.jpg);
}
[data-image="sidebar-4"] {
    background-image: url(../../img/sidebar-4.jpg);
}
[data-image="sidebar-5"] {
    background-image: url(../../img/sidebar-5.jpg);
}
[data-image="sidebar-6"] {
    background-image: url(../../img/sidebar-6.jpg);
}
[data-image="sidebar-7"] {
    background-image: url(../../img/sidebar-7.jpg);
}

[data-image="user_pic"] {
    background-image: url(../../img/user_pic.png);
}